@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/scriptsSite/jsAbout/jsIndex.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.css" integrity="sha512-3pIirOrwegjM6erE5gPSwkUzO+3cTjpnV9lexlNZqvupR64iZBnOOTiiLPb9M36zpMScbmUNIcHUqKD47M719g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js" integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
}
<script>
    var urlRequest = '@Url.Action("Request","About")';
</script>

<div class="card" style="margin-top:5%;">
    <div class="card-body">
        <div class="form-horizontal" style="color:#dD8CDCA">
           <div>
              <input type="button" id="btnGetBearerValue" onclick="Request()" class="btn btn-primary" value="EJECUTAR REQUEST"/>
           </div><br><br>
           <div>
                    <div class="col col-4">
        <br /><br /><br />
        <label style="font-size:12px;font-style:italic;color:white;"> Imagen de perfil </label><br />
        <input type="file" #file placeholder="Choose file" (change)="uploadFile(file.files)" style="display:none;">
        <button type="button" class="btn btn-light" (click)="file.click()" style="width:auto"> Seleccionar</button>
      </div>
               </div>
      </div>
   </div>
</div>
